name: 'Install Terraform '

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:



jobs:
  terraform:
    name: 'Terraform Run'
    runs-on: self-hosted


    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Install Terraform
      run: |
          sudo yum install -y yum-utils
          sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
          sudo sed -i 's/\$releasever/9/g' /etc/yum.repos.d/hashicorp.repo
          sudo yum clean all
          sudo yum makecache
          sudo yum install terraform -y
          terraform --version
          
 step4:  installation of ansible
 
 name:  installation ansible 

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted


    steps:
      - name: Show system info
        run: |
          echo "Running on:"
          hostname
          cat /etc/os-release

      - name: Install EPEL repository
        run: |
          sudo dnf install -y epel-release

      - name: Install Ansible
        run: |
          sudo dnf install python3-pip
          pip3 install ansible
          

      - name: Check Ansible version
        run: |
          ansible --version       
          
